* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-family: "Titillium Web", sans-serif;
  background-color: #e5e5e5;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

h2,
h3 {
  font-weight: 200;
  pointer-events: none;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.x-icon,
.add-icon,
.delete-all-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  width: 1.25em;
  height: 1.25em;
}

.transaction-icon {
  margin: 0.25em 0.5em 0;
}

.wallet-icon {
  width: 1.5em;
  height: 1.5em;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 1em;
  width: 100%;
  max-width: 80rem;
  border-radius: 1.5em;
  background-color: #fff;
  box-shadow: 0.5em 0.5em 1.5em grey;
}
.panel-info {
  width: 100%;
  border-top-right-radius: 1.5em;
  border-top-left-radius: 1.5em;
}
.panel-info__header {
  margin: 1em;
}
.panel-info__header-heading {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
}
.panel-info__money {
  margin: 0 1em 1em;
  padding: 2em;
  text-align: center;
  color: #fff;
  background-color: #3bb78f;
  background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
  border-radius: 1.5em;
}
.panel-info__money-available {
  padding: 0.5em;
  margin-bottom: 0.5em;
}
.panel-info__money-available-heading {
  margin-bottom: 0.5em;
}
.panel-info__money-available-amount {
  font-size: 3rem;
}
.panel-info__money-flows {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
.panel-info__money-flows-income-heading, .panel-info__money-flows-expense-heading {
  margin-bottom: 0.5em;
}
.panel-info__money-flows-income-amount, .panel-info__money-flows-expense-amount {
  font-size: 1.5rem;
}
.panel-transactions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
  background-color: #fff;
  border-radius: 1.5em;
}
.panel-transactions__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.panel-transactions__info-heading {
  margin: 0.25em 0;
}
.panel-transactions__info-currency {
  text-align: center;
}
.panel-transactions__info-currency-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}
.panel-transactions__info-currency-selection-header {
  margin-right: 1em;
}
.panel-transactions__info-currency-selection-select {
  font-family: inherit;
  font-size: 1.5rem;
  color: #226b54;
  background: none;
  border: none;
  cursor: pointer;
}
.panel-transactions__info-currency-rate {
  grid-row: 2/3;
  margin-top: 0.5em;
  font-size: 1.25rem;
}
.panel-transactions__list {
  margin: 2em 0;
}
.panel-transactions__list-transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25em;
  font-size: 1.5rem;
  border-bottom: 0.0625em solid #ddd;
}
.panel-transactions__list-transaction-name, .panel-transactions__list-transaction-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-transactions__list-transaction-deleteBtn {
  padding: 0.5em;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s;
}
.panel-transactions__list-transaction-deleteBtn:hover {
  transform: scale(0.8);
}
.panel-transactions__list-transaction:last-child {
  border-bottom: none;
}
.panel-transactions__controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.panel-transactions__controls button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0.5em;
  padding: 0.5em 1em;
  width: 45%;
  height: 3.5em;
  border: none;
  border-radius: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}
.panel-transactions__controls-add {
  color: #fff;
  background-color: #3bb78f;
}
.panel-transactions__controls-delete-all {
  color: #000;
  background-color: #f4a261;
}
.panel-transactions__controls-add:hover {
  background-color: #226b54;
}
.panel-transactions__controls-delete-all:hover {
  background-color: #d08c55;
}

.income {
  color: green;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}
.popup__form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5em;
  width: 90%;
  background-color: #fff;
  border-radius: 1.5em;
}
.popup__form input,
.popup__form select {
  padding: 0.5em 1em;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 0.125em solid #ddd;
  font-family: inherit;
  font-size: 0.75rem;
}
.popup__form-heading {
  margin: 0.5em 0;
}
.popup__form-box {
  margin: 0 auto;
  padding: 0 1em;
  width: 100%;
}
.popup__form-box-amount-input {
  display: flex;
  width: 100%;
}
.popup__form-box-amount-input input {
  margin-right: 1em;
  width: 70%;
}
.popup__form-box-amount-input select {
  width: 30%;
}
.popup__form-box-amount-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}
.popup__form-box-amount-checkbox input {
  width: 30%;
}
.popup__form-box-amount-checkbox label {
  margin-left: 0.25em;
}
.popup__form-box-amount-checkbox-current, .popup__form-box-amount-checkbox-user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
}
.popup__form-box-amount-checkbox-current input, .popup__form-box-amount-checkbox-user input {
  width: 20%;
}
.popup__controls {
  display: flex;
  width: 90%;
}
.popup__controls button {
  margin: 1em;
  padding: 0.5em 1em;
  width: 45%;
  border-radius: 1em;
  border: none;
  font-size: 1.25rem;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}
.popup__controls-save {
  color: #fff;
  background-color: #3bb78f;
}
.popup__controls-save:hover {
  background-color: #226b54;
}
.popup__controls-cancel {
  color: #000;
  background-color: #f4a261;
}
.popup__controls-cancel:hover {
  background: #d08c55;
}

.error-value,
.error-name,
.error-category {
  margin-bottom: 1em;
  color: red;
  font-size: 1.5rem;
}

.error {
  box-shadow: 0 0 0.5em red;
}

@media (min-width: 320px) {
  .popup input,
  .popup select {
    font-size: 1.25rem;
  }
}
@media (min-width: 576px) {
  .panel-transactions {
    padding: 2em 4em;
  }
  .popup__form {
    padding: 1em;
    width: 50rem;
  }
  .popup__form label {
    font-size: 1.5rem;
  }
}
@media (min-width: 576px) and (min-height: 768px) {
  .panel {
    margin: 2em;
  }
  .panel-transactions__info {
    display: grid;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .panel-transactions__info-heading {
    display: flex;
    justify-content: center;
    grid-column: 2/4;
    grid-row: 1/2;
    margin: 0.25em 0;
  }
  .panel-transactions__info-currency {
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .panel-transactions__info-currency-selection {
    grid-row: 1/2;
    margin: 0.25em 0;
  }
  .panel-transactions__info-currency-rate {
    font-size: 1.5rem;
  }
  .panel-transactions__controls button {
    margin: 2em;
  }
  .panel-info__header {
    margin: 2em 2em 1em;
  }
  .panel-info__header-heading {
    font-size: 1.5rem;
  }
  .panel-info__money {
    margin: 0 2em 2em;
  }
  .panel-info__money-available-amount {
    font-size: 3rem;
  }
  .panel-info__money-flows-income-amount, .panel-info__money-flows-expense-amount {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (min-height: 768px) {
  .x-icon,
  .add-icon,
  .delete-all-icon {
    width: 1.75em;
    height: 1.75em;
  }
  .panel-transactions {
    padding: 2em 6em;
  }
  .panel-transactions__controls button {
    font-size: 1.5rem;
  }
  .panel-transactions__list-transaction {
    font-size: 2rem;
  }
  .panel-info__header {
    margin: 2em 3em 1em;
  }
  .panel-info__header-text {
    font-size: 1.25rem;
  }
  .panel-info__header-heading {
    font-size: 2rem;
  }
  .panel-info__money {
    margin: 0 3em;
  }
  .panel-info__money-available-amount {
    font-size: 3rem;
  }
  .popup__form {
    padding: 3em;
  }
  .popup__form-box {
    margin-bottom: 2em;
  }
  .popup__form label {
    font-size: 2rem;
  }
}
@media (min-width: 992px) and (min-height: 768px) {
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .panel {
    max-width: 100rem;
  }
  .panel-info__header-text {
    font-size: 1.25rem;
  }
  .panel-info__header-heading {
    font-size: 2rem;
  }
  .panel-info__money-available-amount {
    font-size: 5rem;
  }
  .panel-info__money-flows-income-heading, .panel-info__money-flows-expense-heading {
    margin-bottom: 1em;
  }
  .panel-info__money-flows-income-amount, .panel-info__money-flows-expense-amount {
    font-size: 3rem;
  }
  .popup input, .popup select {
    font-size: 2rem;
  }
  .popup__form {
    width: 80rem;
  }
  .popup__controls button {
    font-size: 1.75rem;
  }
}/*# sourceMappingURL=style.css.map */