* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	min-height: 100vh;
	font-family: 'Titillium Web', sans-serif;
	background-color: #e5e5e5;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}
h2,
h3 {
	font-weight: 200;
	pointer-events: none;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

.x-icon,
.add-icon,
.delete-all-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5em;
	width: 1.25em;
	height: 1.25em;
}
.transaction-icon {
	margin: 0.25em 0.5em 0;
}
.wallet-icon {
	width: 1.5em;
	height: 1.5em;
}

.panel {
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 100%;
	max-width: 80rem;
	border-radius: 1.5em;
	background-color: #fff;
	box-shadow: 0.5em 0.5em 1.5em grey;

	&-info {
		width: 100%;
		border-top-right-radius: 1.5em;
		border-top-left-radius: 1.5em;
		&__header {
			margin: 1em;
			&-heading {
				display: flex;
				justify-content: start;
				align-items: center;
				font-size: 1.25rem;
			}
		}
		&__money {
			margin: 0 1em 1em;
			padding: 2em;
			text-align: center;
			color: #fff;
			background-color: #3bb78f;
			background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
			border-radius: 1.5em;
			&-available {
				padding: 0.5em;
				margin-bottom: 0.5em;

				&-heading {
					margin-bottom: 0.5em;
				}
				&-amount {
					font-size: 3rem;
				}
			}
			&-flows {
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 1em;
				&-income,
				&-expense {
					&-heading {
						margin-bottom: 0.5em;
					}
					&-amount {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	&-transactions {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 1em;
		width: 100%;
		background-color: #fff;
		border-radius: 1.5em;

		&__info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-heading {
				margin: 0.25em 0;
			}
			&-currency {
				text-align: center;

				&-selection {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0.5em;
					&-header {
						margin-right: 1em;
					}
					&-select {
						font-family: inherit;
						font-size: 1.5rem;
						color: #226b54;
						background: none;
						border: none;
						cursor: pointer;
					}
				}
				&-rate {
					grid-row: 2/3;
					margin-top: 0.5em;
					font-size: 1.25rem;
				}
			}
		}

		&__list {
			margin: 2em 0;
			&-transaction {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 0.25em;
				font-size: 1.5rem;
				border-bottom: 0.0625em solid #ddd;
				&-name,
				&-amount {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&-deleteBtn {
					padding: 0.5em;
					border: none;
					background: none;
					cursor: pointer;
					transition: transform 0.3s;
				}
				&-deleteBtn:hover {
					transform: scale(0.8);
				}
			}
			&-transaction:last-child {
				border-bottom: none;
			}
		}

		&__controls {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			button {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 1em 0.5em;
				padding: 0.5em 1em;
				width: 45%;
				height: 3.5em;
				border: none;
				border-radius: 1em;
				font-family: inherit;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			&-add {
				color: #fff;
				background-color: #3bb78f;
			}
			&-delete-all {
				color: #000;
				background-color: #f4a261;
			}
			&-add:hover {
				background-color: #226b54;
			}
			&-delete-all:hover {
				background-color: #d08c55;
			}
		}
	}
}
.income {
	color: green;
}
.popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	&__form {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 0.5em;
		width: 90%;
		background-color: #fff;
		border-radius: 1.5em;

		input,
		select {
			padding: 0.5em 1em;
			width: 100%;
			background: none;
			border: none;
			border-bottom: 0.125em solid #ddd;
			font-family: inherit;
			font-size: 0.75rem;
		}

		&-heading {
			margin: 0.5em 0;
		}
		&-box {
			margin: 0 auto;
			padding: 0 1em;
			width: 100%;
			&-amount {
				&-input {
					display: flex;
					width: 100%;
					input {
						margin-right: 1em;
						width: 70%;
					}
					select {
						width: 30%;
					}
				}
				&-checkbox {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 1em;
					width: 100%;

					input {
						width: 30%;
					}
					label {
						margin-left: 0.25em;
					}

					&-current,
					&-user {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 35%;
						input {
							width: 20%;
						}
					}
				}
			}
		}
	}
	&__controls {
		display: flex;
		width: 90%;

		button {
			margin: 1em;
			padding: 0.5em 1em;
			width: 45%;
			border-radius: 1em;
			border: none;
			font-size: 1.25rem;
			font-family: inherit;
			cursor: pointer;
			transition: background-color 0.3s;
		}

		&-save {
			color: #fff;
			background-color: #3bb78f;
		}
		&-save:hover {
			background-color: #226b54;
		}
		&-cancel {
			color: #000;
			background-color: #f4a261;
		}
		&-cancel:hover {
			background: #d08c55;
		}
	}
}
.error-value,
.error-name,
.error-category {
	margin-bottom: 1em;
	color: red;
	font-size: 1.5rem;
}
.error {
	box-shadow: 0 0 0.5em red;
}

// MEDIA
@import './small';
@import './medium';
@import './large';
