* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(244, 162, 97, 0.6);
}
.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1200px;
}
h2,
h3 {
	font-weight: 200;
	text-transform: uppercase;
}
h2 {
	font-size: 1.2rem;
}
h3 {
	font-size: 1rem;
}

.x-icon,
.add-icon,
.delete-all-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5em;
	height: 1.2em;
	width: 1.2em;
}
.wallet-icon {
	height: 1.5em;
	width: 1.5em;
}

.panel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 1em;
	padding: 1em;
	border-radius: 1em;
	background-color: #fff;

	&-info {
		width: 100%;
		background-color: #2a9d8f;
		border-radius: 1em;
		&__header {
			margin: 1em;
			padding: 1em;
			background-color: #f4a261;
			border-radius: 1em;
			&-heading {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0.4em;
				font-size: 1.5rem;
			}
			&-text {
				font-size: 1rem;
			}
		}
		&__money {
			margin: 2em 0;
			color: #fff;
			&-available {
				padding: 0.5em;
				margin-bottom: 0.5em;

				&-heading {
					margin-bottom: 0.5em;
				}
				&-amount {
					font-size: 2rem;
				}
			}
			&-flows {
				display: flex;
				justify-content: space-around;
				align-items: center;
				margin-bottom: 1em;
				&-income,
				&-expense {
					&-heading {
						margin-bottom: 0.5em;
					}
					&-amount {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	&-transactions {
		margin-top: 1em;
		padding: 1em;
		width: 100%;
		border-radius: 1em;
		border: 0.1em solid #2a9d8f;
		background-color: #fff;
		&__heading {
			margin: 0.3em 0;
		}
		&__list {
			margin: 2em 0;
			&-transaction {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 1em;
				font-size: 1rem;
				&-amount {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&-deleteBtn {
					padding: 0.5em;
					border: none;
					background: none;
					cursor: pointer;
					transition: transform 0.3s;
				}
				&-deleteBtn:hover {
					transform: scale(0.8);
				}
			}
		}

		&__controls {
			display: flex;
			justify-content: space-around;
			align-items: center;

			button {
				font-style: inherit;
				width: 50%;
				height: 3.5em;
				margin: 1em 0.5em;
				padding: 0.5em 1em;
				border-radius: 0.4em;
				img {
					height: 40%;
					.plus-img {
						background-color: #fff;
					}
				}
			}
			&-add {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #2a9d8f;
				border: 1px solid #2a9d8f;
				color: #fff;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			&-delete-all {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #fff;
				border: 1px solid #2a9d8f;
				color: #000;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			&-add:hover,
			&-delete-all:hover {
				background-color: #264653;
				border: 1px solid #264653;
				color: #fff;
			}
		}
	}
}
.popup {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	&__form {
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		width: 90%;
		max-width: 800px;
		padding: 2em 1em;
		background-color: #f4a261;
		border-radius: 1em;

		&-heading {
			margin-bottom: 1em;
		}
		label {
			margin-bottom: 0.5em;
			font-size: 1.2em;
		}
		small {
			font-size: 0.8em;
		}
		input,
		select {
			padding: 0.6em 1em;
			margin: 1em 2em;
			width: 90%;
			border-radius: 0.5em;
			border: 0.1em solid #000;
		}
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 90%;

		button {
			padding: 0.5em 1em;
			margin: 1em;
			width: 50%;
			border-radius: 0.5em;
			font-size: 1rem;
		}

		&-save {
			background-color: #2a9d8f;
			color: #fff;
			border: 1px solid transparent;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		&-save:hover {
			background-color: #264653;
		}
		&-cancel {
			background: none;
			color: #000;
			border: 1px solid #000;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		&-cancel:hover {
			background: #fff;
			border: 1px solid transparent;
		}
	}
}

// MEDIA
@media (min-width: 576px) {
	.panel {
		&-transactions {
			&__controls {
				button {
					margin: 2em;
				}
			}
		}
		&-info {
			&__money {
				&-available {
					&-amount {
						font-size: 3rem;
					}
				}
			}
			&__header {
				&-heading {
					font-size: 2rem;
				}
			}
		}
	}
}
@media (min-width: 768px) {
	.x-icon,
	.add-icon,
	.delete-all-icon {
		height: 1.8em;
		width: 1.8em;
	}
	.panel {
		&-transactions {
			&__controls {
				button {
					font-size: 1.2rem;
				}
			}

			&__list {
				&-transaction {
					font-size: 1.4rem;
				}
			}
		}
		&-info {
			&__money {
				&-available {
					&-amount {
						font-size: 3rem;
					}
				}
			}
		}
	}
	.popup {
		label {
			font-size: 1.5em;
		}
		small {
			font-size: 1em;
		}
		input,
		select {
			padding: 0.8em;
			font-size: 1rem;
		}
	}
}
@media (min-width: 992px) {
	h2 {
		font-size: 1.8rem;
	}
	h3 {
		font-size: 1.3rem;
	}
	.panel {
		&-info {
			&__money {
				&-available {
					&-amount {
						font-size: 4rem;
					}
				}

				&-flows {
					&-income,
					&-expense {
						&-heading {
							margin-bottom: 1em;
						}
						&-amount {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}
