* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	min-height: 100vh;
	font-family: 'Titillium Web', sans-serif;
	background-color: #e5e5e5;
}
.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	min-height: 100vh;
}
h2,
h3 {
	font-weight: 200;
	pointer-events: none;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}

.x-icon,
.add-icon,
.delete-all-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5em;
	height: 1.25em;
	width: 1.25em;
}
.transaction-icon {
	margin: 0.25em 0.5em 0;
}
.wallet-icon {
	height: 1.5em;
	width: 1.5em;
	color: #000;
}

.panel {
	display: flex;
	flex-direction: column;
	margin: 1em;
	width: 100%;
	max-width: 800px;
	border-radius: 1.5em;
	background-color: #fff;
	box-shadow: 0.5em 0.5em 1.5em grey;

	&-info {
		width: 100%;
		border-top-right-radius: 1.5em;
		border-top-left-radius: 1.5em;
		&__header {
			margin: 1em;
			border-radius: 1.5em;
			color: #000;
			&-heading {
				display: flex;
				justify-content: start;
				align-items: center;
				font-size: 1.25rem;
			}
			&-text {
				font-size: 1rem;
			}
		}
		&__money {
			margin: 0 1em 1em;
			padding: 2em;
			text-align: center;
			color: #fff;
			background-color: #3bb78f;
			background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
			border-radius: 1.5em;
			&-available {
				padding: 0.5em;
				margin-bottom: 0.5em;

				&-heading {
					margin-bottom: 0.5em;
				}
				&-amount {
					font-size: 3rem;
				}
			}
			&-flows {
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding: 1em;
				&-income,
				&-expense {
					&-heading {
						margin-bottom: 0.5em;
					}
					&-amount {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	&-transactions {
		display: flex;
		justify-content: center;
		flex-direction: column;
		padding: 1em;
		width: 100%;
		border-radius: 1.5em;
		background-color: #fff;

		&__info {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-heading {
				margin: 0.25em 0;
			}
			&-currency {
				text-align: center;

				&-selection {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0.5em;
					&-header {
						margin-right: 1em;
					}
					&-select {
						font: inherit;
						font-size: 1.5rem;
						color: #226b54;
						background: none;
						border: none;
					}
				}
				&-rate {
					grid-row: 2/3;
					margin-top: 0.5em;
					font-size: 1.25rem;
				}
			}
		}

		&__list {
			margin: 2em 0;
			&-transaction {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 0.25em;
				font-size: 1.5rem;
				border-bottom: 0.0625em solid #ddd;
				&-name,
				&-amount {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&-deleteBtn {
					padding: 0.5em;
					border: none;
					background: none;
					cursor: pointer;
					transition: transform 0.3s;
				}
				&-deleteBtn:hover {
					transform: scale(0.8);
				}
			}
			&-transaction:last-child {
				border-bottom: none;
			}
		}

		&__controls {
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 100%;

			button {
				font-style: inherit;
				width: 40%;
				height: 3.5em;
				margin: 1em 0.5em;
				padding: 0.5em 1em;
				border-radius: 1em;
				font-family: inherit;
			}
			&-add {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #3bb78f;
				border: 0.063rem solid #3bb78f;
				color: #fff;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			&-delete-all {
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: #f4a261;
				border: 0.063rem solid #f4a261;
				color: #000;
				cursor: pointer;
				transition: background-color 0.3s;
			}
			&-add:hover {
				background-color: #226b54;
				border: 0.063rem solid #226b54;
				color: #fff;
			}
			&-delete-all:hover {
				background-color: #d08c55;
				border: 0.063rem solid #f4a261;
				color: #000;
			}
		}
	}
}
.income {
	color: green;
}
.popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);

	&__form {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 1em;
		width: 90%;
		background-color: #fff;
		border-radius: 1.5em;

		label {
			font-size: 1rem;
		}
		input#name,
		select#category,
		input#user-rate-input {
			padding: 0.5em 1em;
			width: 100%;
			background: none;
			border: none;
			border-bottom: 0.125em solid #ddd;
			font: inherit;
			font-size: 1.5rem;
		}
		input#user-rate-input {
			width: 30%;
		}
		input#current-rate,
		input#user-rate {
			margin: 0.125em;
		}
		select#category {
			color: grey;
		}

		&-heading {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0.5em 0;
		}
		&-box {
			display: flex;
			justify-content: center;
			align-items: start;
			flex-direction: column;
			margin: 0 auto;
			padding: 0 2em;
			width: 100%;
			&-amount {
				display: flex;
				justify-content: center;
				align-items: start;
				flex-direction: column;
				width: 100%;
				&-input {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;

					&-inside,
					&-selection {
						padding: 0.5em 1em;
						border: none;
						border-bottom: 0.125em solid #ddd;
					}
					&-inside {
						margin-right: 1em;
						width: 70%;
					}
					&-selection {
						width: 30%;
						background: none;
						font: inherit;
					}
				}
				&-checkbox {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-top: 1em;
					width: 100%;

					&-current,
					&-user {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 30%;
					}

					label {
						margin-bottom: 0;
					}
				}
			}
		}
	}
	&__controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 80%;

		button {
			padding: 0.5em 1em;
			margin: 1em;
			width: 50%;
			border-radius: 1em;
			border: none;
			font-size: 1.25rem;
			font-family: inherit;
		}

		&-save {
			background-color: #3bb78f;
			color: #fff;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		&-save:hover {
			background-color: #226b54;
		}
		&-cancel {
			background-color: #f4a261;
			color: #000;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		&-cancel:hover {
			background: #d08c55;
		}
	}
}
.error-value,
.error-name,
.error-category {
	margin-bottom: 1em;
	color: red;
	font-size: 1.5rem;
}
.error {
	box-shadow: 0 0 0.5em red;
}

// MEDIA

@media (min-width: 576px) {
	.panel {
		&-transactions {
			padding: 2em 4em;
		}
		&-info {
			&__header {
				margin: 2em 2em 1em;
			}
			&__money {
				margin: 0 2em 2em;

				&-flows {
					&-income,
					&-expense {
						&-amount {
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
	.popup {
		&__form {
			width: 50rem;
		}
	}
}
@media (min-width: 576px) and (min-height: 768px) {
	.panel {
		margin: 2em;
		&-transactions {
			&__info {
				display: grid;
				align-items: start;
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(2, 1fr);

				&-heading {
					display: flex;
					justify-content: center;
					grid-column: 2/4;
					grid-row: 1/2;
					margin: 0.3em 0;
				}
				&-currency {
					display: grid;
					grid-column: 4/5;
					grid-row: 1/3;
					&-selection {
						grid-row: 1/2;
						margin: 0.3em 0;
					}
					&-rate {
						font-size: 1.5rem;
					}
				}
			}

			&__controls {
				button {
					margin: 2em;
				}
			}
		}
		&-info {
			&__money {
				//margin: 0 2em 2em;
				&-available {
					&-amount {
						font-size: 3rem;
					}
				}
			}
			&__header {
				//margin: 2em 2em 1em;
				&-heading {
					font-size: 1.5rem;
				}
			}
		}
	}
	.popup {
		&__form {
			width: 50rem;
			input#current-rate,
			input#user-rate {
				margin: 0.75em;
			}
		}
	}
}
@media (min-width: 768px) and (min-height: 768px) {
	.x-icon,
	.add-icon,
	.delete-all-icon {
		height: 1.75em;
		width: 1.75em;
	}
	.panel {
		&-transactions {
			padding: 2em 5em;
			&__controls {
				button {
					font-size: 1.5rem;
				}
			}

			&__list {
				&-transaction {
					font-size: 2rem;
				}
			}
		}
		&-info {
			&__header {
				margin: 2em 3em 1em;
				&-text {
					font-size: 1.25rem;
				}
				&-heading {
					font-size: 2rem;
				}
			}
			&__money {
				margin: 0 3em;
				&-available {
					&-amount {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) and (min-height: 768px) {
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	.panel {
		max-width: 100rem;

		&-info {
			&__header {
				&-text {
					font-size: 1.25rem;
				}
				&-heading {
					font-size: 2rem;
				}
			}
			&__money {
				&-available {
					&-amount {
						font-size: 5rem;
					}
				}

				&-flows {
					&-income,
					&-expense {
						&-heading {
							margin-bottom: 1em;
						}
						&-amount {
							font-size: 3rem;
						}
					}
				}
			}
		}
	}
	.popup {
		&__form {
			width: 800px;
		}
		label {
			font-size: 1.5rem;
		}
		input,
		select {
			padding: 0.75em;
			font-size: 1.5rem;
		}
		&__controls {
			button {
				font-size: 1.75rem;
			}
		}
	}
}
